body {
    background-color: #777;
    width: 960px;
    margin:auto;
    font-family: 'Arial';
    font-size: 18px;
}

.firstHeader {
    padding: 40px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ebebeb;
    text-align: center;
}

nav {
    margin-bottom: 40px;
}

section {
    float: left;
    width: 460px;
    padding: 20px;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ebebeb;
}

article {
    padding: 20px;
    text-align: center;
    background-color: #777;
}

.insideSection {
    padding: 20px;
    text-align: center;
    background-color: #ebebeb;
}

aside {
    float: left;
    width: 370px;
    height: 227px;
    padding: 40px;
    margin-left: 10px;
    text-align: center;
    background-color: #ebebeb;
}

footer {
    margin:auto;
    clear: both;
    padding: 40px;
    text-align: center;
    background-color: #ebebeb;
}