body {
	background-color: #777;
}

.firstHeader {
	padding: 40px;
	margin-bottom: 10px;
	background-color: #ebebeb;
	text-align: center;
	width: 1000px;
}

section {
	float: left;
	width: 495px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #d6d6d6;
	background-color: #ebebeb;
}

article {
	padding: 20px;
	text-align: center;
	color: #4d4d4d;
	background-color: #777;
}

.insideSection {
	padding: 20px;
	background-color: #ebebeb;
	text-align: center;
	color: #d6d6d6;
}

aside {
	float: left;
	width: 495px;
	padding: 40px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: center;
	color: #d6d6d6;
	background-color: #ebebeb;
}

footer {
	clear: both;
	padding: 40px;
	text-align: center;
	color: #d6d6d6;
	background-color: #ebebeb;
	width: 1000px;
}