.firstHeader {
	padding: 40px;
	margin-bottom: 10px;
	background-color: #4d4d4d;
	text-align: center;
	color: #d6d6d6;
}

section {
	float: left;
	width: 45%;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #d6d6d6;
	background-color: #4d4d4d;
}

article {
	padding: 20px;
	text-align: center;
	color: #4d4d4d;
	background-color: #d6d6d6;
}

.insideSection {
	padding: 20px;
	background-color: #4d4d4d;
	text-align: center;
	color: #d6d6d6;
}

aside {
	float: left;
	width: 45%;
	padding: 40px;
	margin-bottom: 10px;
	margin-left: 20px;
	text-align: center;
	color: #d6d6d6;
	background-color: #4d4d4d;
}

footer {
	clear: both;
	padding: 40px;
	text-align: center;
	color: #d6d6d6;
	background-color: #4d4d4d;
}